// Gray
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$gray-950: #030712;

// Zinc: Also use them for the text colors
$zinc-50: #fafafa;
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-900: #18181b;
$zinc-950: #09090b;

// Indigo
$indigo-50: #eef2ff;
$indigo-100: #e0e7ff;
$indigo-200: #c7d2fe;
$indigo-300: #a5b4fc;
$indigo-400: #818cf8;
$indigo-500: #6366f1;
$indigo-600: #4f46e5;
$indigo-700: #4338ca;
$indigo-800: #3730a3;
$indigo-900: #312e81;
$indigo-950: #1e1b4b;

// Indigo
$rose-50: #fff1f2;
$rose-100: #ffe4e6;
$rose-200: #fecdd3;
$rose-300: #fda4af;
$rose-400: #fb7185;
$rose-500: #f43f5e;
$rose-600: #e11d48;
$rose-700: #be123c;
$rose-800: #9f1239;
$rose-900: #881337;
$rose-950: #4c0519;

$white: #ffffff;
$black: #000000;

$text: (
  "white": $white,
  "muted": $zinc-500,
  "main": $zinc-900,
  "heading": $zinc-950,
  "link": $indigo-900,
);

$primary: (
  "default": $indigo-500,
  "hover": $indigo-600,
  "dark": $indigo-950,
  "light": $indigo-200,
  "foreground": $white,
);

$secondary: (
  "default": $zinc-100,
  "hover": $zinc-200,
  "selected": $indigo-100,
  "dark": $zinc-800,
  "light": $zinc-50,
  "foreground": $zinc-950,
);

$destructive: (
  "default": $rose-500,
  "hover": $rose-600,
  "dark": $rose-950,
  "light": $rose-50,
  "foreground": $rose-50,
);

$accent: (
  "default": $zinc-100,
  "hover": $zinc-200,
  "border": $zinc-300,
  "border2": $zinc-400,
  "ring": $zinc-950
);

$card: (
    "default": $white,
    "border": $zinc-300
);

$background: (
  "body": $white,
  "card": $white,
);

@mixin setColors($map, $def) {
  @each $name, $color in $map {
    @if $name == "default" {
      --#{$def}: #{map.get($map, "default")};
    } @else {
      --#{$def}-#{$name}: #{$color};
    }
  }
}
