@use "sass:map";
@import "./colors";
@import "./theme";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --side-drawer-width: 240px;
    --app-header-height: 48px;
  }

  html[theme-preference="light"] {
    @include setLightThemeColors();
  }

  html[theme-preference="dark"] {
    @include setDarkThemeColors();
  }
}

html,
body {
  @apply text-text;
  @apply bg-background-body;
  height: 100vh;

  #root {
    width: 100vw;
    height: 100vh;
  }
}
