@use "sass:map";
@import "./colors";
@import "./theme";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --side-drawer-width: 240px;
    --app-header-height: 48px;
  }

  html[theme-preference="light"] {
    @include setLightThemeColors();
  }

  html[theme-preference="dark"] {
    @include setDarkThemeColors();
  }
}

html,
body {
  @apply text-text;
  @apply bg-background-body;
  height: 100vh;

  // background: rgb(199, 210, 254);
  // background: linear-gradient(
  //     139deg,
  //     rgba(199, 210, 254, 1) 0%,
  //     rgba(246, 212, 226, 1) 2%,
  //     var(--background-body) 16%,
  //     var(--background-body) 100%
  //   )
  //   no-repeat;

  #root {
    width: 100vw;
    height: 100vh;
  }
  &.with-overflow-hidden {
  }
}
