.ChatInputBox {
  padding: 4px;
  & > div:first-child {
    width: 100%;
    .tiptap {
      padding: 8px;
      outline: none;
      position: relative;
      @apply text-text;
      outline: none;
    }
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    @apply text-text-muted;
    opacity: 0.4;
  }
}

.ChatInputBox, .message-collections {
  @apply text-sm;
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  pre {
    @apply bg-slate-600;
    @apply rounded-sm;
    @apply p-2;
    @apply border border-slate-800;
    @apply text-white;
    code {
      @apply text-xs
    }
  }
  a {
    @apply text-primary;
  }
}
